<h1>Dashboard</h1>

<a href=@Url.Action("Homepage")>Home</a>
<a href=@Url.Action("SubmitClaim")>Submit Claim</a>
<a href=@Url.Action("ClaimSubmitted")>Track Claims</a>
<a href=@Url.Action("Privacy")>Privacy Policy</a>
<a href=@Url.Action("Index")>Login</a>