<h1>Home</h1>

<a href=@Url.Action("ClaimSubmitted")>Track Claims</a>
<a href=@Url.Action("Index")>Login</a>

<h2>What Is Claim Track</h2>

<p>
	Welcome To Claim Track, The Smart and Reliable Claim Management System Designed Specifically For 
	Independent Lecturers. Our Platform Simplifies The Process Of Submitting, Tracking and Managing 
	Teaching-Related Claims, Ensuring Accuracy, Transparency and Faster Approvals. With Claim Track 
	You Can Focus On What Matters Most — Teaching — While We Take Care Of The Paperwork. Streamline 
	your workload, Stay Organized and Gain Peace Of Mind Knowing Your Claims Are Always On Track
</p>

<h2>What Our Platform Can Do</h2>

<p>
	Our Platfrom Offers A Multitude Of Functions And Services For Lecturers, 
	Coordinators And Academic Managers Alike. Our Features Include: Claim Submissions and Approval,
	Claim Tracking, Invoice Generation and Much More.
</p>

<h2>Your Privacy Is Our Priority</h2>

<p>
	Here At Claim Track We Adhere To A Very Strict Privacy Policy That Seeks To Protect Our User's
	Personal Information. If You Are Curious About How We Achieve This You May View Our Privacy Policy Below.
</p>
<a href=@Url.Action("Privacy")>Privacy Policy</a>

<h2>What Are You Waiting For</h2>

<p>
	Well That's It From Us Here At Claim Track, We Have Explained Enough About Who We Are and What Our Platform
	Does, All That Is Left For You To Do Know Is To Start Filling And Submitting Claims. Thank You For Using Claim Track.
	If You Would Like To Submit Your First Claim, Click Below.
</p>
<a href=@Url.Action("SubmitClaim")>Submit Claim</a>